/* Estilo general de la barra de navegación */
nav {
  background-color: #87CEEB; /* Azul cielo */
  padding: 10px;
  text-align: center;
}

/* Estilo de los elementos de la barra de navegación */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

/* Estilo de los enlaces de navegación */
nav a {
  text-decoration: none;
  color: #FFFFFF; /* Blanco */
  font-size: 18px;
}

/* Cambio de estilo al pasar el ratón sobre los enlaces */
nav a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}
