/* Alinea el contenido en la parte superior de la página */
/* Alinea el contenido en el centro de la página y verticalmente desde arriba */

/* Estilo para el título */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  white-space: nowrap; /* Evita el salto de línea en el título */
  overflow: hidden; /* Oculta el contenido que se desborda */
  text-overflow: ellipsis; /* Muestra "..." cuando el título es demasiado largo */
}

/* Estilo para la tabla */
table {
  width: 100%;
}

/* Estilo para las celdas de la tabla */
th, td {
  padding: 10px;
  text-align: center;
}

/* Estilo para las imágenes */
img {
  max-width: 100px;
  height: auto;
}
