<!DOCTYPE html>
<html>
<head>
    <title>Información de Personas</title>
</head>
<body>
    <h1>Información de Personas</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas_info %}
            <tr>
                <td>{{ persona.id }}</td>
                <td>{{ persona.nombre }}</td>
                <td>
                    <img src="data:image/jpeg;base64,{{ persona.imagen }}" alt="Imagen" style="width: 100px; height: auto;" />
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
