/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#content {
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    margin-right: 10px;
}

.table-area {
    margin-top: 20px;
}

/* Define cualquier estilo adicional que desees para las tablas y otros elementos */
